@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Pacifico&family=Suez+One&family=Walter+Turncoat&display=swap');
body {
  margin: 0;
  font-family: Suez One;
}

.app-title a{
  text-decoration: none;
}

.album-item {
  width: 50%;
  display: flex;
  background-color: rgb(29, 46, 160);
  justify-content: space-between;
  color: azure;
  height: 5rem;
  margin: 0.5rem auto;
}

.header {
  background-color: blueviolet;
  color: aliceblue;
  font-size: 20px;
}

.album-item div {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(13, 15, 3);
}

.album-item div:nth-child(3) {
  justify-content: left;
}

.header div:nth-child(3) {
  justify-content: center;
}

.navbar {
  width: 60%;
  display: flex;
  background-color: rgb(172, 107, 157);
  justify-content: space-between;
  height: 5rem;
  margin: 0.5rem auto;
}

.navbar div {
  width: 49%;
  font-size: 2rem;
  color: aliceblue;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar div button {
  padding: 0.5rem;
  font-size: 1.25rem;
}

.notification {
  position: absolute;
  top: 0px;
  font-size: 1.25rem !important;
  right: 0px;
  width: 20rem !important;
  height: 3rem !important;
  background-color: rgb(105, 19, 19);
  color: rgb(211, 197, 197) !important;
  border-radius: 2%;
}

.ud-operation {
  flex-direction: column;
}

.ud-operation button {
  margin: 0.25rem;
  padding: 0.25rem;
  background-color: aqua;
}

.ud-operation button:nth-child(2) {
  background-color: rgb(205, 89, 89);
  color: white;
}

/* adding css for middle box in add and update album */

.middle-box {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  color: aliceblue;
  background-color: darkcyan;
  width: 25%;
  border-radius: 5px;
}

.middle-box div {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem;
}

.middle-box button {
  margin: 20px;
  padding: 15px;
  font-size: 1.25rem;
}

.album-title {
  overflow-wrap: break-word;
  padding: 6px;
}

button {
  font-family: Walter Turncoat;
}

.middle-box div label{
  display: flex;
  width: 25%;
}

.middle-box div input{
  display: flex;
  width: 60%;
}
